body {
  font-family: Helvetica,"Helvetica Neue",Arial,sans-serif !important;
}
label {
  display: flex !important;
  height: 3rem;
  background-color: #e9ecef;
  border-radius: .25rem;
  box-shadow: 0px 0px 12px #86ff8b;
}
button, input, optgroup, select, textarea {
  margin: 16px !important;
}
p {
    margin-top: 3vh !important;
}
.container {
  margin-top: 12vh;
}
.quizSection {

}
.question {
  margin-top: 8vh;
}
.question p {
  font-size: 2em;
  font-weight: 100;
}
